.single-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.single-app-container .hero,
.single-app-container .hero-header {
  margin: 0rem !important;
}
.single-app-container .app-input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.single-app-container .app-result-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.single-app-container .form-input {
  width: 100%;
}
.single-app-container .dropdown select {
  padding: 7px 10px !important;
  margin: 0rem;
}

@media only screen and (max-width: 991px) {
  .single-app-container .app-input-container,
  .single-app-container .app-result-container {
    width: 90%;
  }
}
