.search-container.github {
  gap: 1rem;
}
.radio-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.single-app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.single-app-container .hero,
.single-app-container .hero-header {
  margin: 0rem !important;
}

.img-github-rectangle {
  width: 43.75rem;
}

@media only screen and (max-width: 991px) {
  .img-github-rectangle {
    width: 25rem;
  }
}
