@import url('../Template/Template.Style.css');

.single-app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.single-app-container .hero,
.single-app-container .hero-header {
  margin: 0rem !important;
}
.single-app-container .app-input-container {
  display: flex;
  justify-content: center;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 100%;
}

.calendar-box {
  border: 1px solid grey;
}
.weekdays-group {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.1rem;
}
.weekdays-boxes-group {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.1rem;
}
.day-box {
  background-color: #eee;
  height: 3rem;
  /* width: 3rem; */
  position: relative;
}
.day-number {
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
}

.today-date {
  border: 3px solid rgb(77, 195, 77);
}

.day-quantity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
