.container-buttons-form {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.container-sources {
  margin-top: 5rem;
}

.container-sources ul li {
  list-style-type: initial;
}

@media only screen and (min-width: 992px) {
  .container-form-inputs {
    display: flex;
    gap: 2rem;
  }
}
